<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Vehicle Details Form</title>
  </head>
  <body>
    <h2>Vehicle Details Form</h2>

    <form [formGroup]="vehicleForm" (ngSubmit)="submit()">
      
         <label for="manufacturer">Manufacturer:</label><br>
      <input type="text" formControlName="Vehicle"  placeholder="vehile"><br><br>
      
      <label for="manufacturer">Manufacturer:</label><br>
      <input type="text" formControlName="manufacturer" id="manufacturer" name="manufacturer" placeholder="e.g. Maruti"><br><br>

      
      <label for="model">Model:</label><br>
      <input type="text" formControlName="model" id="model" name="model" placeholder="e.g. Swift"><br><br>

      
      <label for="type">Vehicle Type:</label><br>
      <input id="type" formControlName="type">
       <br><br>

      
      <label for="fuel">Fuel Type:</label><br>
      <input id="fuel" formControlName="fuel" name="fuel">
       
      <br><br>

      <label for="color">Color:</label><br>
      <input type="text" formControlName="color" id="color" name="color" placeholder="e.g. Red"><br><br>

      
      <label for="image">Vehicle Image:</label><br>
      <input type="file" formControlName="image" id="image" name="image" accept="image/*"><br><br>

      
      <label for="cost">Cost (₹):</label><br>
      <input type="number" formControlName="cost" id="cost" name="cost" placeholder="e.g. 800000" min="0" step="1000"><br><br>

      <label for="tyres">Number of Tyres:</label><br>
      <input type="number" formControlName="tyres" id="tyres" name="tyres" placeholder="e.g. 4" min="1" max="18"><br><br>

      <button type="submit">Submit Details</button>
    </form>
  </body>
</html>
