<form [formGroup]="userForm" (ngSubmit)="submit()">

  <label>Name:</label>
  <input type="text" formControlName="name">
  <div *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid"> 
    <p *ngIf="userForm.get('name')?.errors?.['required']">name is required</p>
    <p *ngIf="userForm.get('name')?.errors?.['minlength']">name should contain min 3 chars</p>
  </div>
  <br><br>

  <label>Age:</label>
  <input type="number" formControlName="age">
  <div *ngIf="userForm.get('age')?.touched && userForm.get('age')?.invalid"> 
    <p *ngIf="userForm.get('age')?.errors?.['required']">age is required</p>
    <p *ngIf="userForm.get('age')?.errors?.['min']">min 18 years</p>
    <p *ngIf="userForm.get('age')?.errors?.['max']">max 100 years</p>
  </div>
  <br><br>

  <label for="">Email:</label>
<input type="email" formControlName="email">

<div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid">

  <p *ngIf="userForm.get('email')?.errors?.['required']">
    email is required
  </p>

  <p *ngIf="userForm.get('email')?.errors?.['email']">valid email format
  </p>

  <p *ngIf="userForm.get('email')?.errors?.['capgeminiEmail']">
    Only capgemini emails allowed
  </p>

</div>

  <label>Phone:</label>
  <input type="tel" formControlName="phone">
  <div *ngIf="userForm.get('phone')?.touched && userForm.get('phone')?.invalid"> 
    <p *ngIf="userForm.get('phone')?.errors?.['required']">phone is required</p>
    <p *ngIf="userForm.get('phone')?.errors?.['pattern']">must be 10 digits</p>
  </div>
  <br><br>
<label>Password:</label>
<input type="password" formControlName="password">

<div *ngIf="userForm.get('password')?.touched && userForm.get('password')?.invalid">

  <p *ngIf="userForm.get('password')?.errors?.['required']">
    Password is required
  </p>

  <p *ngIf="userForm.get('password')?.errors?.['minlength']">
    Minimum 6 characters required

  </p>
      <p *ngIf="userForm.get('password')?.errors?.['pattern']">
  Should contain 1cap, 1small, 1num and min 8 chars
</p>

</div>

  
  <div formGroupName="address">
    <label>City</label>
    <input type="text" formControlName="city">

    <div *ngIf="userForm.get('address.city')?.touched && userForm.get('address.city')?.invalid">
      <p *ngIf="userForm.get('address.city')?.errors?.['required']">City is required</p>
      <p *ngIf="userForm.get('address.city')?.errors?.['minlength']">Minimum 3 characters required</p>
    </div>

    <br>

    <label>Pin</label>
    <input type="text" formControlName="pincode">
  </div>

  <br>

  <!-- Type -->
  <label>Type:</label><br>

  <input type="radio" value="dayScholar" formControlName="type">
  Day Scholar

  <input type="radio" value="residential" formControlName="type">
  Residential

  <br><br>

  <!-- Dynamic Fields -->
  <div *ngIf="userForm.get('busFee')">
    <label>Bus Fee:</label>
    <input type="text" formControlName="busFee">

    <div *ngIf="userForm.get('busFee')?.touched && userForm.get('busFee')?.invalid">
      <p *ngIf="userForm.get('busFee')?.errors?.['required']">
        Bus fee is required
      </p>
    </div>
  </div>

  <div *ngIf="userForm.get('hostelFee')">
    <label>Hostel Fee:</label>
    <input type="text" formControlName="hostelFee">
  </div>

  <br>


  <label>Cards</label>
  <button type="button" (click)="addCard()">Add Card</button>

  <div formArrayName="cards">
    <div *ngFor="let card of cardsArray.controls; let i = index">

      <div [formGroupName]="i">

        <h3>Card {{i+1}}</h3>

        <label>Name:</label>
        <input type="text" formControlName="name">

        <div *ngIf="card.get('name')?.touched && card.get('name')?.invalid">
          <p *ngIf="card.get('name')?.errors?.['required']">Name is required</p>
        </div>

        <br>

        <label>Number:</label>
        <input type="text" formControlName="number">

        <div *ngIf="card.get('number')?.touched && card.get('number')?.invalid">
          <p *ngIf="card.get('number')?.errors?.['required']">Number is required</p>
          <p *ngIf="card.get('number')?.errors?.['pattern']">Must be 16 digits</p>
        </div>

        <br>

        <label>CVV:</label>
        <input type="text" formControlName="cvv">

        <div *ngIf="card.get('cvv')?.touched && card.get('cvv')?.invalid">
          <p *ngIf="card.get('cvv')?.errors?.['required']">CVV is required</p>
          <p *ngIf="card.get('cvv')?.errors?.['pattern']">Must be 3 digits</p>
        </div>

        <br>

        <button type="button" (click)="deleteCard(i)">Delete</button>

        <hr>

      </div>

    </div>
  </div>

  <button type="submit">Submit</button>

</form>