<div class="parent"> <!-- Sidebar -->
    <div class="left">
        <h2>My Web App</h2>
        <ul>
            <button routerLink="home">Home</button>
            
            
              <button routerLink="welcome">Welcome</button>
        </ul> <button routerLink="login">Logout</button>
          <button routerLink ="data-binding"> data-binding  </button> 
          <button routerLink="calculator"> calculator</button>
          <button routerLink="event-registration">event-registration </button>
          <button routerLink="rectangle"> rectangle</button>
          <button routerLink="employees">  employees</button>
          <button routerLink="flipkart">flipkart </button>
          <button routerLink="vehicles"> vehicles</button>
          <button routerLink="bmi-calculator">bmi-calculator </button>
          <button routerLink="accounts">accounts </button>
          <button routerLink="naukri">naukri</button>
          <button routerLink="contact-ceo"> CONTACT</button>
          
        
        
    </div> <!-- Main Content -->
    <div class="right">
        <router-outlet></router-outlet>
        
            
            
            
        </div>

    </div>
